@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  color: #525252;
  font-family: "Raleway", sans-serif;
  user-select: none;
}
.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
.metronome {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  width: 300px;
}
.bpm-display {
  color: #fa545c;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.bpm-display .tempo {
  font-size: 4em;
}
.tempo-text {
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
}
.tempo-settings {
  display: flex;
  justify-content: space-between;
}
.tempo-settings .adjust-tempo-btn {
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  height: 30px;
  text-align: center;
  width: 30px;
}
.tempo-settings .adjust-tempo-btn:hover {
  background: #fa545c;
  color: #fff;
}
.tempo-settings .decrease-tempo {
  line-height: 24px;
}
.tempo-settings .increase-tempo {
  line-height: 31px;
}
input[type="range"] {
  appearance: none;
  background-color: transparent;
  -webkit-appearance: none;
  width: 70%;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  background: #fa545c;
  border-radius: 50%;
  height: 16px;
  margin-top: -8px;
  -webkit-appearance: none;
  width: 16px;
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  background: #fa545c;
  border: none;
  border-radius: 50%;
  height: 16px;
  -webkit-appearance: none;
  width: 16px;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd;
  height: 1px;
  width: 100%;
}
input[type="range"]::-moz-range-track {
  background: #ddd;
  height: 1px;
  width: 100%;
}
.start-stop {
  background: #fa545c;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 0.7em;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 50px;
}
.start-stop:hover {
  background: #ff656c;
}
.measures {
  display: flex;
  justify-content: center;
}
.measures .stepper {
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  margin: 0 5px;
  text-align: center;
  width: 20px;
}
.measures .stepper:hover {
  background: #ff656c;
  color: #fff;
}
.measures .add-beats {
  line-height: 20px;
}
.beats-per-measure-text {
  font-size: 0.65em;
  text-align: center;
  text-transform: uppercase;
}
